<div *ngIf="this.enableCustSec" class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col">

    <style>
      .demo-card-wide.mdl-card {
        width: 95%;
      }

      .demo-card-wide>.mdl-card__title {}

      .demo-card-wide>.mdl-card__menu {
        color: #fff;
      }

    </style>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Customer overview:</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--1-col"></div>
          <table class="mdl-data-table mdl-js-data-table">

            <tbody>
              <tr>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Name:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_body.name}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Identity No:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_body.identityNo}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Dob:</b>
                </td>
                <td width="30%" class="mdl-data-table__cell--non-numeric">{{_body.dob}}</td>
              </tr>
              <tr>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>MaritialStatus:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_body.maritialStatus}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Registered date:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_body.regDate}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Phone:</b>
                </td>
                <td width="30%" class="mdl-data-table__cell--non-numeric">{{_body.telNo}}</td>
              </tr>
              <tr>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Address line:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_body.addrLine}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>City:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_body.city}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Province:</b>
                </td>
                <td width="30%" class="mdl-data-table__cell--non-numeric">{{_body.province}}</td>
              </tr>
              <tr>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Postal code:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_body.postalCode}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Country code:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_body.countryCode}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Email:</b>
                </td>
                <td width="30%" class="mdl-data-table__cell--non-numeric">{{_body.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div *ngIf="this.por=='BRWR'" class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="searchAssetData('BRWR')">
          See Application
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="executeQuery('CONTRACT')">
          See contracts
        </a>
      </div>
      <div *ngIf="this.por=='LNDR'" class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="searchAssetData('LNDR')">
          See Lending Proposal
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="executeQuery('CONTRACT')">
          See contracts
        </a>
      </div>
    </div>
  </div>
</div>

<hr>


<div *ngIf="this.enableAppSec" class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col">

    <style>
      .demo-card-wide.mdl-card {
        width: 95%;
      }

      .demo-card-wide>.mdl-card__title {}

      .demo-card-wide>.mdl-card__menu {
        color: #fff;
      }

    </style>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div *ngIf="this.por=='BRWR'" class="mdl-card__title">
        <h2 class="mdl-card__title-text">Application details:</h2>
      </div>
      <div *ngIf="this.por=='LNDR'" class="mdl-card__title">
        <h2 class="mdl-card__title-text">Proposal details:</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--1-col"></div>

          <table class="mdl-data-table mdl-js-data-table">

            <tbody>
              <tr>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Application id:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_bodyAsset.applId}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Application status:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_bodyAsset.status}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Applied date:</b>
                </td>
                <td width="30%" class="mdl-data-table__cell--non-numeric">{{_bodyAsset.appliedDate}}</td>
              </tr>
              <tr>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Loan amount:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_bodyAsset.loanAmount}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Laon currency:</b>
                </td>
                <td width="20%" class="mdl-data-table__cell--non-numeric">{{_bodyAsset.loanCurrency}}</td>
                <td width="10%" class="mdl-data-table__cell--non-numeric">
                  <b>Borrower:</b>
                </td>
                <td width="30%" class="mdl-data-table__cell--non-numeric">{{_bodyAsset.borrowerIde}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div *ngIf="this.por=='BRWR'" class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="executeQuery('match')">
          Find Matching Proposal
        </a>
      </div>

    </div>
  </div>
</div>


<div *ngIf="this.enableContractView" class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col">

    <style>
      .demo-card-wide.mdl-card {
        width: 95%;
      }

      .demo-card-wide>.mdl-card__title {}

      .demo-card-wide>.mdl-card__menu {
        color: #fff;
      }

    </style>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Contract details:</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--1-col"></div>

          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
              <tr>
                <th >Contract id</th>
                <th>Snactioned amount</th>
                <th>Interest rate</th>
                <th>Registered date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proposal of _bodyProposal;let i = index" (click)="setClickedRow(i)">
               <!-- <td>
                  <div class="radio">
                    <label>
                      <input type="radio" id='regular' name="optradio">
                    </label>
                  </div>
                </td>-->
                <td class="mdl-data-table__cell--non-numeric">{{proposal.Record.loanContractId}}</td>
                <td>{{proposal.Record.sanctionedAmount}}</td>
                <td>{{proposal.Record.intRate}}</td>
                <td>{{proposal.Record.appliedDate}}</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="executeContrat()">
         
        </a>
      </div>

    </div>
  </div>
</div>



<!--*ngIf="this.enableMatchSec"-->
<div *ngIf="this.enableMatchSec" class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col">

    <style>
      .demo-card-wide.mdl-card {
        width: 95%;
      }

      .demo-card-wide>.mdl-card__title {}

      .demo-card-wide>.mdl-card__menu {
        color: #fff;
      }

    </style>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Matching Proposals:</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--1-col"></div>

          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
              <tr>
                <th></th>
                <th class="mdl-data-table__cell--non-numeric">Proposer</th>
                <th>Commit amount</th>
                <th>Remaining Amount</th>
                <th>Interest rate</th>
                <th>Proposed date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proposal of _bodyProposal;let i = index" (click)="setClickedRow(i)">
                <td>
                  <div class="radio">
                    <label>
                      <input type="radio" id='regular' name="optradio">
                    </label>
                  </div>
                </td>
                <td class="mdl-data-table__cell--non-numeric">{{proposal.Record.proposalId}}</td>
                <td>{{proposal.Record.commitAmount}}</td>
                <td>{{proposal.Record.remAmount}}</td>
                <td>{{proposal.Record.intRate}}</td>
                <td>{{proposal.Record.appliedDate}}</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="executeContrat()">
          Execute
        </a>
      </div>

    </div>
  </div>
</div>
