<div  class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col">

    <style>
      .demo-card-wide.mdl-card {
        width: 95%;
      }

      .demo-card-wide>.mdl-card__title {}

      .demo-card-wide>.mdl-card__menu {
        color: #fff;
      }

    </style>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      
      <div class="mdl-card__supporting-text">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--1-col"></div>
          <div class="container">
            <br>
            <h4 class="header center orange-text">A Peer to Peer Lending Platform</h4>
            <div class="row center">
              <h5 class="header col s12 light">Built on Hyperledger fabric</h5>
            </div>


          </div>
        </div>

      </div>


    </div>
  </div>
</div>
